@media screen and (min-width: 750px) {
  .image-with-text {
    display: flex;
    height: 30rem;
    justify-content: center;
    align-items: center;
  }

  .image-with-text__image {
    max-width: 100%;
    height: auto;
    margin: 10px;
  }

  .image-with-text__text {
    width: 30rem;
    margin: 10px;
  }
}

.image-with-text__image {
  margin-top: 2rem;
}

.image-with-text__text {
  margin: 1rem 1rem;
}

