@media screen and (min-width: 750px) {
  .image-with-text {
    display: flex;
    overflow: hidden;
    justify-content: center;
    height: auto;
  }

  .image-with-text__image {
    width: 30rem;
    height: auto;
  }

  .image-with-text__text {
    width: 30rem;
    height: auto;
  }
}

.image-with-text {
  max-width: 100%;
  height: auto;
}

.image-with-text__image {
  overflow: hidden;
}

.image-with-text__text {
  padding: 10rem 2rem;
}

@media screen and (max-width: 750px) {
  .image-with-text__text {
    padding: 1rem 1rem;
  }
}

.iwt_background-1 {
  background-color: white;
  color: black;
}

.iwt_background-2 {
  background-color: black;
  color: white;
}

.iwt_accent-1 {
  background-color: deeppink;
  color: black;
}